/* All website(Animal World Protection) fonts style are all under this line */
// Links (a)
header a{
    font-family: 'Signika', sans-serif;
}

// Headings (h1,h2,h3,h4,h5,h6)
h2{
    font-family: 'Overlock', cursive;
}

.animal-category-main-container h2{
    font-family: 'Signika', sans-serif;
}

.shop-page-main-container h2{
    font-family: 'Signika', sans-serif;
}

.shop-page-main-container span{
    font-family: 'Lato', sans-serif;
}

h4{
    font-family: 'Signika', sans-serif;
}

h5{
    font-family: 'Lato', sans-serif;
}

.section-sub-heading h5{
    font-family: 'Overlock', cursive;
}

.about-us-page-main-container h6{
    font-family: 'Overlock', cursive;
}

// paragraph (p)
p{
    font-family: 'Lato', sans-serif;
}

// Button
button{
    font-family: 'Overlock', cursive;
}

.submit{
    font-family: 'Overlock', cursive;
}

.animal-category-main-container button{
    font-family: 'Lato', sans-serif;
}

// Other(class)
.animal-cover:hover{
    font-family: 'Overlock', cursive;
}

span{
    font-family: 'Lato', sans-serif;
}

.entry{
    font-family: 'Lato', sans-serif;
}