/* Every code in about us page are all under this line */
// Banner section
.about-us-page-banner{
    height:480px;
    max-width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Heading section
.about-us-page-heading-section{
    background-color:$wap-section-background-color;
    height:120px;
}

.about-us-page-heading{
    height:120px;
}

.about-us-page-heading h4{
    font-size:1.9vw;
    font-weight: bold;
}

// Content section
.about-us-page-content-section{
    width:50%;
}

.about-us-page-content{
    width:100%;
    margin:70px 0 80px 0;
}

.about-us-page-content--sub-heading h6{
    font-weight: bold;
    font-size: 1vw;
    font-style: italic;
    margin-bottom: 28px;
}

.about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
    font-size:0.9vw;
}

.about-us-page-content--end-information h6{
    font-weight: bold;
    font-size: 1vw;
    font-style: italic;
}

.about-us-page-content--donate-button{
    border:2px solid $wap-lighter-primary-color;
    background-color:$wap-primary-color;
    margin:35px 0;
    padding:13px;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.about-us-page-content--donate-button button{
    color:$white;
}

.about-us-page-content--main-content p{
    display: flex;
    justify-content: space-between;
}

.about-us-page-content--main-content p img{
    width: 23vw;
    height:300px;
    margin: 20px 0 10px 0;
}

// Media query for about us page
@media only screen and (max-width:1400px){

    .about-us-page-heading h4{
        font-size:2.7vw;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 1.2vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:1.2vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 1.2vw;
    }

    .about-us-page-content--donate-button{
        font-size: 1.7vw;
    }

    .about-us-page-content--main-content p img{
        width: 23vw;
        height:300px;
        margin: 20px 0 10px 0;
    }
}

@media only screen and (max-width:1180px){
    .about-us-page-heading h4{
        font-size:3.3vw;
    }

    .about-us-page-banner{
        height:420px;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 1.5vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:1.3vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 1.5vw;
    }

    .about-us-page-content-section{
        width:70%;
    }

    .about-us-page-content--donate-button{
        font-size: 2vw;
    }

    .about-us-page-content--main-content p img{
        width: 31vw;
    }

}

@media only screen and (max-width:1050px){
    .about-us-page-banner{
        height:370px;
    }

    .about-us-page-heading h4{
        font-size:3.6vw;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 1.7vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:1.5vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 1.7vw;
    }

    .about-us-page-content-section{
        width:75%;
    }

    .about-us-page-content--donate-button{
        font-size: 2.2vw;
    }

    .about-us-page-content--main-content p img{
        width: 34vw;
    }

}

@media only screen and (max-width:850px){
    .about-us-page-banner{
        height:320px;
    }

    .about-us-page-heading h4{
        font-size:4.2vw;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 2vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:1.6vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 2vw;
    }

    .about-us-page-content-section{
        width:85%;
    }

    .about-us-page-content--donate-button{
        font-size: 2.8vw;
    }

    .about-us-page-content--main-content p img{
        width: 38vw;
    }
}


@media only screen and (max-width:750px){
    .about-us-page-banner{
        height:280px;
    }

    .about-us-page-heading h4{
        font-size:4.8vw;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 2.4vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:2vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 2.4vw;
    }

    .about-us-page-content-section{
        width:85%;
    }

    .about-us-page-content--donate-button{
        font-size: 3.1vw;
    }

    .about-us-page-content--main-content p img{
        width: 38vw;
        height:250px;
    }

}

@media only screen and (max-width:640px){
    .about-us-page-banner{
        height:220px;
    }

    .about-us-page-heading h4{
        font-size:5.2vw;
    }


    .about-us-page-content--sub-heading h6{
        font-size: 2.6vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:2.3vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 2.6vw;
    }

    .about-us-page-content-section{
        width:90%;
    }

    .about-us-page-content--donate-button{
        font-size: 3.5vw;
    }

    .about-us-page-content--main-content p{
        display: flex;
        flex-direction: column;
    }


    .about-us-page-content--main-content p img{
        width:85vw;
        height: auto;
    }
}

@media only screen and (max-width:550px){
    .about-us-page-banner{
        height:200px;
    }

    .about-us-page-heading h4{
        font-size:6.2vw;
    }

    .about-us-page-content--sub-heading h6{
        font-size: 3vw;
    }
    
    .about-us-page-content--sub-heading-content p, .about-us-page-content--main-content p{
        font-size:2.9vw;
    }
    
    .about-us-page-content--end-information h6{
        font-size: 3vw;
    }

    .about-us-page-content-section{
        width:92%;
    }

    .about-us-page-content--donate-button{
        font-size: 4vw;
    }
}