/* Contact page style code are all under this line */
.contact-page-main-container{
    margin-bottom:70px;
}
.contact-page-main-container h6{
    font-weight: bold;
    font-size: 1.1vw;
    font-family: 'Signika', sans-serif;
}

.contact-page-main-container p{
    font-family: 'Lato', sans-serif;
}

.contact-page-main-container input{
    height:50px;
    font-family: 'Lato', sans-serif;
}

.contact-page-main-container textarea{
    height:180px;
}
// Banner
.contact-page-banner{
    height:480px;
    max-width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// Heading
.contact-page-heading-section{
    background-color:$wap-section-background-color;
    height:120px;
}

.contact-page-heading{
    height:120px;
}

.contact-page-heading h4{
    font-size:1.9vw;
    font-weight: bold;
}

// Content
.contact-page-content{
    display: flex;
    width: 80%;
    margin-top:50px;
}

.contact-details{
    width:40%;
}

.contact-form{
    width:50%;
    margin-left:40px;
}

.contact-form--first-last-name{
    display: flex;
}

.first-last-name--firstname{
    margin-right: 25px;
}

.contact-form--submit{
    width:100%;
}

.contact-form--submit input{
    width: 100%;
    background-color: $wap-primary-color;
    border: 2px solid $wap-lighter-primary-color;
    color:$white;
    font-weight: bold;
    font-size: 1.2vw;
    font-family: 'Overlock', cursive;
    cursor: pointer;
}

// Media query for contact page 
@media only screen and (max-width:1400px){
    .contact-page-heading h4{
        font-size:2.5vw;
    }

    .contact-page-main-container h6{
        font-size: 1.5vw;
    }
    
    .contact-page-main-container p{
        font-size: 1.1vw;
    }

    .contact-page-main-container input{
        font-size: 1.1vw;
    }

    .contact-form--submit input{
        
        font-size: 1.6vw;
    }
}

@media only screen and (max-width:1100px){
    .contact-page-heading h4{
        font-size:3vw;
    }

    .contact-page-main-container h6{
        font-size: 1.9vw;
    }
    
    .contact-page-main-container p{
        font-size: 1.3vw;
    }

    .contact-page-main-container input{
        font-size: 1.3vw;
    }

    .contact-form--submit input{
        font-size: 1.8vw;
    }
}

@media only screen and (max-width:850px){
    .contact-page-content{
        flex-direction: column;
    }

    .contact-details{
        width:87%;
        margin:auto;
        margin-bottom:20px;
    }
    
    .contact-form{
        width:80%;
    }

    .contact-page-heading h4{
        font-size:4vw;
    }

    .contact-page-main-container h6{
        font-size: 2.6vw;
    }
    
    .contact-page-main-container p{
        font-size: 1.7vw;
    }

    .contact-page-main-container input{
        font-size: 1.7vw;
    }

    .contact-form--submit input{
        font-size: 2.4vw;
    }
}

@media only screen and (max-width:650px){
    .contact-details{
        width:83%;
    }

    .contact-page-heading h4{
        font-size:5.2vw;
    }

    .contact-page-main-container h6{
        font-size: 3.3vw;
    }
    
    .contact-page-main-container p{
        font-size: 2.2vw;
    }

    .contact-page-main-container input{
        font-size: 2.2vw;
    }

    .contact-form--submit input{
        font-size: 3.1vw;
    }
}

@media only screen and (max-width:550px){
    .contact-details{
        width:93%;
    }

    .contact-form{
        width:95%;
        margin:auto;
    }

    .contact-page-heading h4{
        font-size:6vw;
    }

    .contact-page-main-container h6{
        font-size: 3.9vw;
    }
    
    .contact-page-main-container p{
        font-size: 2.8vw;
    }

    .contact-page-main-container input{
        font-size: 2.8vw;
    }

    .contact-form--submit input{
        font-size: 4.2vw;
    }
}

