/* All the style for the product page are below this line */
.product-page-main-container{
    margin-top:70px;
}

.product-page-main-container header a{
    display: none;
}


.woocommerce .product-page-content-section div.product .woocommerce-tabs ul.tabs{
    display: none;
}

.woocommerce .product-page-content-section div.product{
    width:90%;
    margin:auto;
}

.woocommerce .product-page-content-section div.product div.images img{
    margin-bottom:50px;
}

.woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
    font-size: 2vw;
    color:$black;
    font-family: 'Lato', sans-serif;
}

.product-page-content-section .woocommerce-product-details__short-description{
    width:70%;
    font-family: 'Lato', sans-serif;
}

.woocommerce .product-page-content-section div.product .woocommerce-tabs .panel{
    border:3px solid #cdcccc;
    padding:40px;
    margin-bottom:100px;
}

.woocommerce .product-page-content-section div.product div.images.woocommerce-product-gallery{
    width:47%;
    margin:auto;
}

.woocommerce .product-page-content-section div.product form.cart .button{
    width:38%;
    height: 50px;
    font-size: 1.2vw;
    background-color:$wap-primary-color;
    font-family: 'Overlock', cursive;
}

.woocommerce .product-page-content-section div.product .product_title{
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.product-page-content-section .woocommerce-message{
    border-top-color:$wap-lighter-primary-color;

}

.woocommerce .product-page-content-section #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    background-color:$wap-primary-color;
    color:$white;
}

.woocommerce .product-page-content-section div.product .woocommerce-tabs .panel h2{
    font-weight: bold;
    font-family: 'Signika', sans-serif;
}

// Product page media query
@media only screen and (max-width:1400px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 2.4vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 2.2vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 1.4vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 1.4vw;
    }

}

@media only screen and (max-width:1180px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 2.5vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 2.3vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 1.5vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 1.7vw;
    }

}

@media only screen and (max-width:1050px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 2.7vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 2.4vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 1.7vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 1.7vw;
    }

    .woocommerce .product-page-content-section div.product div.images.woocommerce-product-gallery{
        width:50%;
    }

}

@media only screen and (max-width:850px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 3.3vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 2.7vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 2vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 2vw;
    }

    .woocommerce .product-page-content-section div.product div.images.woocommerce-product-gallery{
        width:100%;
    }

    .woocommerce .product-page-content-section div.product div.summary{
        width: 88%;
    }

    .woocommerce .product-page-content-section div.product .woocommerce-tabs .panel{
        width: 77%;
        margin:auto;
        margin-bottom:70px;
    }
   
}

@media only screen and (max-width:700px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 3.7vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 3vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 2.4vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 2.4vw;
    }
    .woocommerce .product-page-content-section div.product .woocommerce-tabs .panel{
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 4.3vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 3.5vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 3vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 3vw;
    }

    .woocommerce .product-page-content-section div.product .woocommerce-tabs .panel h2{
        font-size: 5vw;
        font-weight: bold;
    }
}

@media only screen and (max-width:500px){
    .woocommerce .product-page-content-section div.product .product_title{
        font-size: 4.9vw;
    }

    .woocommerce .product-page-content-section div.product p.price, .woocommerce div.product span.price{
        font-size: 3.9vw;
    }

    .product-page-content-section .woocommerce-product-details__short-description{
        font-size: 3.4vw;
    }

    .woocommerce .product-page-content-section div.product form.cart .button{
        font-size: 3.4vw;
    }
}