/* Woocommerce shop page's codes are under this line */
// Shop page banner
.shop-page-banner{
    background-image: url('../images/shop-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:480px;
}

// Shop page heading
.shop-page-heading-section{
    background-color:$wap-section-background-color;
    height:120px;
}

.shop-page-heading{
    height:120px;
}

.shop-page-heading h4{
    font-size:2.3vw;
    font-weight: bold;
}

// Shop page content
.woocommerce ul.products li.product a img {
    width: auto;
    height: 300px;
    margin: auto;
}

.shop-page-content-section li{
    border: 2px solid #CDCCCC;
}

.woocommerce-loop-product__title{
    border-top:2px solid #CDCCCC;
    text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
    font-size: 1.2vw;
    font-weight: bold;
}

.woocommerce .shop-page-content-section ul.products li.product .price{
    text-align: center;
    font-size: 1.1vw;
    color:$black;
}

.woocommerce .shop-page-content-section ul.products li.product .button{
    width: 95%;
    font-size: 1.1vw;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:$wap-primary-color;
    color:$white;
    margin: 10px auto;
    font-family: 'Overlock', cursive;
}

.woocommerce .shop-page-content-section .products ul, .woocommerce ul.products{
    margin: 80px 100px;
}


// Shop page media query
@media only screen and (max-width:1400px){
    .shop-page-banner{
        height:380px;
    }

    .shop-page-heading h4{
        font-size: 2.9vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:23vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 1.4vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 1.2vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 1.1vw;
    }
    

}

@media only screen and (max-width:1180px){
    .shop-page-banner{
        height:300px;
    }

    .shop-page-heading h4{
        font-size: 3.7vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:27vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 1.7vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 1.4vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 1.3vw;
    }
}

@media only screen and (max-width:1050px){
    .shop-page-banner{
        height:250px;
    }

    .shop-page-heading h4{
        font-size: 4.4vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:31vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 1.7vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 1.6vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 1.5vw;
    }

}

@media only screen and (max-width:850px){
    .shop-page-banner{
        height:220px;
    }

    .shop-page-heading h4{
        font-size: 4.9vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:45vw;
    }

    .woocommerce .shop-page-content-section .products ul, .woocommerce ul.products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 2.7vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 2.2vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 2vw;
    }
}

@media only screen and (max-width:700px){
    .shop-page-heading h4{
        font-size: 6vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:50vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 3.2vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 2.7vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 2.6vw;
    }
}

@media only screen and (max-width:600px){
    .shop-page-banner{
        height:200px;
    }

    .shop-page-heading h4{
        font-size: 6.8vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:55vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 3.5vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 3.2vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 3vw;
    }
}

@media only screen and (max-width:500px){
    .shop-page-heading h4{
        font-size: 7.5vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product, .woocommerce-page ul.products li.product{
        width:70vw;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
        font-size: 4vw;
    }

    .woocommerce .shop-page-content-section ul.products li.product .price{
        font-size: 3.5vw;
    }
    
    .woocommerce .shop-page-content-section ul.products li.product .button{
        font-size: 3.4vw;
    }
}